<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProductApp</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <div class="navigation">
        <ul>
            <li><a href="/addMenuPage" data-text="Add product">Add product</a></li>
            <li><a href="/updateProductPage" data-text="Update product">Update product</a></li>
            <li><a href="/deleteMenuPage" data-text="Delete product">Delete product</a></li>
            <li><a href="/productListPage" data-text="List of products">List of products</a></li>
            <li><a href="/transferPage" data-text="Transfer products">Transfer products</a></li>
            <li><a href="/login_page" data-text="logout">Logout</a></li>
        </ul>
    </div>
</body>
</html>